
<h1><%= t('home') %></h1>

<p>This is "<%=current_user.email%>" home page.</p>

<%= form_for Tweet.new do |f| %>
	<%= f.text_area :message, :maxlength => 140  %>
	<br>
	<%= f.submit "Post" %>
<% end %>

<h3><%=current_user.followings.count%> Followings</h3>

<ul id="tweets_list">
	<% current_user.all_tweets.reverse.each do |tweet| %>
	<li>
		<div class= "username"> <%= tweet.user.email%> </div>
		<div class= "message"> <%= tweet.message%> </div>			
		<div class= "time-ago"> <%= distance_of_time_in_words(Time.now, tweet.created_at)%></div>
	</li>
	<%end%>
</ul>