
<h1>Home Page</h1>

<p>This is "<%=current_user.email%>" home page.</p>

<%= form_for Tweet.new do |f| %>
	<%= f.text_area :message %>
	<br>
	<%= f.submit "Post" %>
<% end %>


<ul id="tweets_list">
	<% current_user.all_tweets.reverse.each do |tweet| %>
	<li>
		<div class= "username"> <%= tweet.user.email%> </div>
		<div class= "message"> <%= tweet.message%> </div>			
		<div class= "time-ago"> <%= distance_of_time_in_words(Time.now, tweet.created_at)%> ago </div>			
	</li>
	<%end%>
</ul>