
<h3><%=@username%></h3>


<%= form_tag toggle_follow_path do %>
	<%= submit_tag (current_user.is_following(@user) ? "Following" : "Not Following")%>
<% end %>


<ul id="tweets_list">
	<% @tweets.reverse.each do |tweet| %>
	<li>
		<div class= "username"> <%= tweet.user.email%> </div>
		<div class= "message"> <%= tweet.message%> </div>			
		<div class= "time-ago"> <%= distance_of_time_in_words(Time.now, tweet.created_at)%> ago </div>			
	</li>
	<%end%>
</ul>

<%= link_to 'Back', root_path %>
